body{

    background-color: rgb(214, 149, 185);

}

header{

    border-style: inset;
    border-color: rgb(141, 100, 139);
    margin: 30px;
    background-color: rgb(100, 122, 141);

}

h1{

font-size: x-large;
color: rgb(255, 223, 202);

}


form{

    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(15, 109, 163)
    
    

}

img{

    height: 200px;

}



